@{
    ViewBag.Title = "Home Page";
}


<div class="home">
    <div class="home_slider_container">
        <div class="owl-carousel owl-theme home_slider">
            <div class="owl-item home_slider_item">
                <div class="home_slider_background" style="background-image:url(/Content/Images/amg.jpg)"></div>
                <div class="home_slider_content_container">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="home_slider_content" data-animation-in="fadeIn" data-animation-out="animate-out fadeOut">
                                    <div class="home_slider_title">[Build] [Tune] [Race] [Break] [Fix] [Repeat]</div>
                                    @*<div class="home_slider_subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a ultricies metus. Sed nec molestie eros. Sed viverra velit venenatis fermentum luctus.</div>*@
                                    <!--<div class="button button_light home_button"><a href="#">Shop Now</a></div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Slider Item -->
            <div class="owl-item home_slider_item">
                <div class="home_slider_background" style="background-image:url(/Content/Images/evo.jpg)"></div>
                <div class="home_slider_content_container">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="home_slider_content" data-animation-in="fadeIn" data-animation-out="animate-out fadeOut">
                                    <div class="home_slider_title">[Build] [Tune] [Race] [Break] [Fix] [Repeat]</div>
                                    @*<div class="home_slider_subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a ultricies metus. Sed nec molestie eros. Sed viverra velit venenatis fermentum luctus.</div>*@
                                    <!--<div class="button button_light home_button"><a href="#">Shop Now</a></div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Slider Item -->
            <div class="owl-item home_slider_item">
                <div class="home_slider_background" style="background-image:url(/Content/Images/bbs.jpg)"></div>
                <div class="home_slider_content_container">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="home_slider_content" data-animation-in="fadeIn" data-animation-out="animate-out fadeOut">
                                    <div class="home_slider_title">[Build] [Tune] [Race] [Break] [Fix] [Repeat]</div>
                                    @*<div class="home_slider_subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a ultricies metus. Sed nec molestie eros. Sed viverra velit venenatis fermentum luctus.</div>*@
                                    <!--<div class="button button_light home_button"><a href="#">Shop Now</a></div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>





<!-- Home Slider Dots -->

<div class="home_slider_dots_container">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="home_slider_dots">
                    <ul id="home_slider_custom_dots" class="home_slider_custom_dots">
                        <li class="home_slider_custom_dot active">01.</li>
                        <li class="home_slider_custom_dot">02.</li>
                        <li class="home_slider_custom_dot">03.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Ads -->

<div class="avds">
    <div class="avds_container d-flex flex-lg-row flex-column align-items-start justify-content-between">
        <div class="avds_small">
            <div class="avds_background" style="background-image:url(/Content/Images/suspension.jpeg)"></div>
            <div class="avds_small_inner">

                <div class="avds_small_content">
                    <div class="avds_title">Real Wheels</div>
                    <div class="avds_link"><a href="@Url.Action("Index","Products")">See More</a></div>
                </div>
            </div>
        </div>
        <div class="avds_large">
            <div class="avds_background" style="background-image:url(/Content/Images/suspension2.jpg)"></div>
            <div class="avds_large_container">
                <div class="avds_large_content">
                    <div class="avds_title">Racing Suspension</div>
                    <div class="avds_link avds_link_large"><a href="@Url.Action("Index","Products")">See More</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Products -->

<div class="products">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="product_grid">

                    <!-- Product -->
                    <div class="product">
                        <div class="product_image"><img src="~/Content/Images/coilovers.jpg" alt=""></div>
                        <div class="product_extra product_new"><a href="@Url.Action("Index","Products")">New</a></div>
                        <div class="product_content">
                            <div class="product_title"><a href="@Url.Action("Index","Products")">Racing Coilovers</a></div>
                            <div class="product_price">$799.99</div>
                        </div>
                    </div>

                    <!-- Product -->
                    <div class="product">
                        <div class="product_image"><img src="~/Content/Images/intercooler.jpg" alt=""></div>
                        <div class="product_extra product_sale"><a href="@Url.Action("Index","Products")">Sale</a></div>
                        <div class="product_content">
                            <div class="product_title"><a href="@Url.Action("Index","Products")">Front-Mounted Intercooler</a></div>
                            <div class="product_price">$599.99</div>
                        </div>
                    </div>

                    <!-- Product -->
                    <div class="product">
                        <div class="product_image"><img src="~/Content/Images/M156supercharger.jpg" alt=""></div>
                        <div class="product_content">
                            <div class="product_title"><a href="@Url.Action("Index","Products")">M156 Supercharger</a></div>
                            <div class="product_price">$999.99</div>
                        </div>
                    </div>

                    <!-- Product -->
                    <div class="product">
                        <div class="product_image"><img src="~/Content/Images/wheel.jpg" alt=""></div>
                        <div class="product_content">
                            <div class="product_title"><a href="@Url.Action("Index","Products")">1-Piece Vossen wheel</a></div>
                            <div class="product_price">$999.99</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
